body{
    background-color: rgb(245, 245, 237);
}

*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color: #81b318;
    color: #fff;
    font-size: 30px;
    height: 50px;
    line-height: 50px;
    margin-bottom: 80px;
}


